.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: white;
  padding: 20px 0;
}

.App-header > section {
  margin: 0 auto;
  padding: 50px 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-bookings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-booking-time {
  display: inline-block;
  width: 400px;
}

.App-booking-duration {
  display: inline-block;
  width: 80px;
}

.App-booking-user {
  display: inline-block;
  width: 80px;
}

.App-row {
  display: flex;
}

.App-column{ 
  width: calc(50% - 5px);
  &.left {
    padding-right: 5px;
  }
  &.right {
    border-left: 2px solid #222;
    padding-left: 5px;
  }
  &.overlap {
    color: darkred;
  }
}